body {
    background-color: rgb(183, 187, 226);
    margin-top: 30px;
}

#App {
    width: 800px;
    border-radius: 50px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 247, 251);
}

#title_name {
    font-size: 50px;
    text-shadow: 1px 1px 1px rgb(90, 25, 58),
        2px 2px 1px rgb(190, 117, 154);
}

#timer {
    font-size: 30px;
    font-weight: lighter;
}

#div-button {
    display:inline-block;
    margin-top: 30px;
    margin-bottom: 40px;
}

.button {
    font-size: 18px;
    margin-left: 15px;
    background-color: rgb(203, 183, 235);
    border-radius: 7px;
    width: 100px;
    height: 38px;
    box-shadow: 1px 1px 1px rgb(92, 54, 128),
        2px 2px 1px rgb(124, 105, 144);
    cursor: pointer;
}

#timeList {
    color: rgb(90, 25, 58);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}